<span dropdown
(onShown)="handler(true)"
(onHidden)="handler(false)">
  <a href dropdownToggle (click)="filterToggle()" class="basic-link-dropdown" #linkFilter>
    <i class="fa fa-filter"></i>
  </a>
  <ul *dropdownMenu class="dropdown-menu date-filter" role="menu" (click)="$event.stopPropagation()">
    <li>
      <th>
        <div class="form-horizontal adv-filter-container">
          <div class="form-group">
            <div class="col-sm-12">
              <bs-datepicker-inline
                [(bsValue)]="selectedDate"
                [bsConfig]="{containerClass: 'theme-red', showWeekNumbers: false, locale: 'fr'}">
              </bs-datepicker-inline>
              <div class="text-center">
                <button class="btn btn-danger btn-confirm" (click)="sort(); linkFilter.click()">OK</button>
              </div>
            </div>
          </div>
        </div>
      </th>
    </li>
  </ul>
</span>
