<div class="ccmart">
  <div class="col-lg-12 product-list top-list navbar-fixed-top">
    <div class="col-xs-2"></div>
    <div class="col-xs-4 text-bold">TÊN</div>
    <div class="col-xs-1 text-bold text-center">CÒN</div>
    <div class="col-xs-1 text-bold text-center">ĐV</div>
    <div class="col-xs-2 text-bold">SL</div>
    <div class="col-xs-1"></div>
    <div class="clearfix"></div>
  </div>
  <div class="list-under"></div>
  <div class="col-lg-12 product-list" *ngFor="let product of products">
    <div class="col-xs-2">
      <img [src]="getProductImage(product)" alt="{{product.NAME}}">
    </div>
    <div class="col-xs-4">
      <h5 mat-line>{{product.NAME}}</h5>
    </div>
    <div class="col-xs-1 text-center">
      <h5 mat-line>{{product.SL}}</h5>
    </div>
    <div class="col-xs-1 text-center">
      <h5 mat-line>{{product.TYPE}}</h5>
    </div>
    <div class="col-xs-2">
      <div class="input-group">
        <input type="number" class="form-control" placeholder="0" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-xs-1">
      <button type="button" class="btn btn-primary btn-sm">MUA</button>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
