<h1 class="title-page">
  Tools title here
  <small>Tools subtitle here (optional)</small>
</h1>
<article>

  <div class="panel panel-default">
    <div class="panel-heading">Content title here</div>
    <div class="panel-body">
      <span [hidden]="!user">Hi {{user?.email}} :)</span>
      <span [hidden]="user">Hi unknown :(</span>
    </div>
  </div>

  <div class="panel panel-default">
    <div  class="panel-body">
      <h4  class="page-header mt0">Compte rendu d'importation</h4>
      <div >
        <p >Veuillez importer un fichier ou afficher le compte rendu d'un import depuis l'historique en cliquant sur le bouton "Afficher le compte rendu".</p>
      </div>
    </div>
  </div>

</article>
