@import 'src/app/routes/home/home/home.component.scss';
@import 'src/app/shared/ngx-datatable-filter/components/ngx-datatable-filter.component.scss';

:host /deep/ {
  .circle {
    background-color: #A5A5A5;
    border: 1px solid #A5A5A5;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    color: #dfdfdf;
    position: absolute;
    right: -2px;
    top: 5px;

    em {
      vertical-align: top;
      font-size: 12px;

      margin: {
        left: 3px;
        top: 2px;
      }
    }
  }
  .date-disabled .form-control[disabled] {
    background: #FFF;
  }

  .botton-action {
    padding: {
      top: 30px;
      bottom: 20px;
    }

    button {
      margin-right: 15px;
    }
  }

  .select-list {
    width: 100%;
    user-select: none;
    cursor: text;
  }

  .chips-list {
    background: #DFDFDF;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
    margin: {
      top: 8px;
      right: 6px;
    }
    position: relative;
    float: left;
    text-overflow: ellipsis;
    white-space: normal;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    min-height: 30px;
  }

  .can-not-edit {
    padding: 5px 10px 5px 10px;
  }

  .checkbox-list .list {
    display: inline;
    padding-right: 15px;
  }

  .custom-datatable .checkbox-list .checkmark {
    background: #FFF;
    border: 1px solid #eee;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
  }

  .clear-box {
    display: block;
    clear: both;
    padding: 10px 0;
  }

  .mu-crud {
    .mat-select {
      padding: 6px;
    }

    .mat-form-field-type-mat-select {
      .mat-form-field-flex {
        padding-bottom: 0px;
      }

      .mat-form-field-infix {
        border: 0;
        padding: 0;
        min-width: 250px;
      }
    }

    .form-group {
      .line-height-30 {
        line-height: 30px;
      }

      .icon {
        position: absolute;
        top: 0;
        right: 15px;
        cursor: pointer;
        height: 35px;
        background: #C5C5C5;
        padding: 8px 10px 10px 10px;
        border-radius: 3px;
      }
    }

    .mu-multi-select {
      border: 1px solid #dde6e9;
      border-radius: 3px;
      padding: 10px;
      padding-bottom: 0px;
      overflow: hidden;
      mat-form-field {
        width: 100%;
      }

    }

    .mat-form-field-wrapper {
      padding: {
        bottom: 0px !important;
      }
    }

    .checkbox-list .disabled {
      opacity: 0.6;
    }
  }
}
