@import '../../home/home/home.component.scss';
:host /deep/ {
  .label-value{
    padding-top: 7px;
    font-weight: bold;
  }
  .form-group{
    .custom-datatable{
      .ngx-datatable{
        background: #FFF;
        .datatable-header-cell{
          padding: 5px;
        }
      }
      datatable-header-cell:last-of-type .datatable-header-cell-label{
        color: #64B5F6 !important;
      }
    }
    .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell{
      color: $text-color;
    }
    .custom-datatable.meeting-table{
      .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell:first-of-type{
        color: black;
      }
    }
  }
  .panel {
    margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    &.panel-default{
      border-top-width: 3px;
      border-color: #cfdbe2;
    }
    .panel-body{
      padding-top: 0px;
    }
  }
}
