/* You can add global styles to this file, and also import other style files */

//== Vendor

@import '~font-awesome/css/font-awesome.css';

//== Bootstrap
@import "./app/shared/styles/bootstrap.scss";
//== Application
@import "./app/shared/styles/app.scss";

@import './app/shared/styles/mu-material.scss';

@import "~@swimlane/ngx-datatable/assets/icons.css";
@import "~@swimlane/ngx-datatable/release/themes/bootstrap.css";
@import  "~@swimlane/ngx-datatable/release/themes/material.css";

@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss";

.bs-datepicker {
  top: 5px;
}
.theme-green .bs-datepicker-head,
.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*="select-"]:after,
.theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background: #64B5F6;
}

.theme-green .bs-datepicker-body table td.week span {
  color: #64B5F6;
}
.content-wrapper {
  padding: {
    left: 0;
    right: 0;
  }
}
