<div *ngIf="type === 'star'" class="star">
  <div *ngIf="qualification[0] === value">
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
  </div>
  <div *ngIf="qualification[1] === value">
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="far fa-star"></span>
  </div>
  <div *ngIf="qualification[2] === value">
    <span class="fa fa-star"></span>
    <span class="far fa-star"></span>
    <span class="far fa-star"></span>
  </div>
  <div *ngIf="qualification.indexOf(value) > 2 || qualification.indexOf(value) < 0">
    <span>{{ value }}</span>
  </div>
</div>
